* {
    margin: 0;
    font-family: 'Zurich';
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #111;
}

main {
    background: url('https://media.discordapp.net/attachments/649968233553723405/709086018942402631/image1.jpg');
    background-position: top;
    background-size: 100%;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.menulisting {
    width: 65%;
    height: 410px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menulisting li {
    width: 100%;
    height: 80%;
    margin: 5px 0px;
    background: rgb(0, 0, 255);
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.menulisting li:nth-of-type(1) {
    margin-top: 0px;
}

li .num {
    background: rgb(0, 0, 179);
    width: 60px;
    height: 100%;
    margin: 0px 10px;
    color: rgb(126, 126, 255);
    text-align: center;
}

.menulisting li:hover {
    background: yellow;
    color: rgb(0, 0, 179);
}

.menulisting li:hover .num {
    background: rgb(197, 197, 0);
    color: rgb(0, 0, 179);
}

@font-face {
    font-family: 'Zurich';
    src: url('zurich_black_bt-webfont.woff2') format('woff2'), url('zurich_black_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}