* {
    margin: 0;
    font-family: 'Zurich';
}

:root {
    font-size: 16px;
    --font-colour: white;
    --main-colour: rgb(0, 37, 201);
    --sub-colour: rgb(0, 26, 143);
    --listnum-colour: rgb(126, 126, 255);
    --main-colour-hover: #FCDA25;
    --sub-colour-hover: rgb(197, 197, 0);
    --listnum-colour-hover: rgb(0, 0, 179);
    --font-colour-hover: rgb(0, 0, 179);
    --background-image-blank: url('https://media.discordapp.net/attachments/649968233553723405/709086018942402631/image1.jpg');
    --background-image: url("img/tv_guide.png");
}

.bground1 {
    background-image: url("img/tv_guide.png");
}

.bground2 {
    background-image: url('https://media.discordapp.net/attachments/649968233553723405/709086018942402631/image1.jpg');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #111;
}

a:link {
    text-decoration: none;
}

main {
    background: var(--background-image);
    background-position: top;
    background-size: 100%;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
}

$('id = "guide"') {
    background-image: url("https://media.discordapp.net/attachments/649968233553723405/709086018942402631/image1.jpg");
    background-position: top;
    background-size: 100%;
    width: 800px;
    height: 600px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.menulisting[id] {
    display: none;
}

.menulisting#main {
    display: flex;
}

.menulisting {
    width: 65%;
    height: 410px;
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: relative;
}

button {
    background: white;
    border: none !important;
    font-size: 0;
}

    .menulisting li {
        width: 100%;
        height: 31.5px;
        margin: 2px 0px;
        background: var(--main-colour);
        list-style-type: none;
        color: var(--font-colour);
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
    }

        .menulisting li:nth-of-type(1) {
            margin-top: 0px;
        }
    .menulisting a {
        color: var(--font-colour);
    }

li .num {
    background: var(--sub-colour);
    width: 60px;
    height: 100%;
    margin: 0px 10px 0px 5px;
    color: var(--listnum-colour);
    text-align: center;
}

.menulisting li:hover {
    background: var(--main-colour-hover);
    color: var(--font-colour-hover);
}

    .menulisting li:hover .num {
        background: var(--sub-colour-hover);
        color: var(--listnum-colour-hover);
    }

    .menulisting li:hover a {
        color: var(--font-colour-hover);
    }

.menulisting li:focus {
    background: var(--main-colour-hover);
    color: var(--font-colour-hover);
}

    .menulisting li:focus .num {
        background: var(--sub-colour-hover);
        color: var(--listnum-colour-hover);
    }

    .menulisting li:focus a {
        color: var(--font-colour-hover);
    }

.links {
    position: absolute;
    bottom: -6%;
    width: 100%;
    font-size: 1rem;
    text-align: right;
    color: var(--main-colour);
    display: inline;
    overflow: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.guidelisting {
    width: 150%;
    height: 410px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
}

.guidelisting li {
    font-family: 'ZurichTV';
}

.titles {
    position: absolute;
    top: -20%;
    left: 5%;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    color: var(--main-colour);
}
/* Font Families */
@font-face {
    font-family: 'Zurich';
    src: url('Zurich Bold Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichTV';
    src: url('Zurich Bold Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}